name: Android CI
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:
  pull_request:

jobs:
  build_apk:
    runs-on: ubuntu-latest

    env:
      JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path:
            ~/.gradle/caches
            ~/.gradle/wrapper
          # example gradle-ubuntu-latest-5a3c9f8d2e
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      # more dynamic way to set up android sdk and build tools >^w^<
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      # need this file, but it's sensitive so we encode it into BASE64 and upload as a secret
      - name: Decode google-services.json
        run: printf "%s" ${{ secrets.GOOGLE_SERVICES_BASE64 }} | base64 --decode

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: List APK
        run: find app/build/outputs/apk/release -type f -name "*.apk"

      - name: Sign app APK
        id: sign_app # ID used to access action output (e.g., signed file path)
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          alias: ${{ secrets.ANDROID_KEY_ALIAS }}
          keyStorePassword: ${{ secrets.ANDROID_KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.ANDROID_KEY_PASSWORD }}

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: latest-build
          path: app/build/outputs/apk/release/*.apk