name: Android CI
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build_apk:
    runs-on: ubuntu-latest

    env:
      JAVA_HOME: /usr/lib/jvm/java-17-openjdk-amd64

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path:
            ~/.gradle/caches
            ~/.gradle/wrapper
          # example gradle-ubuntu-latest-5a3c9f8d2e
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}

      - name: Install Android SDK Command-Line Tools
        run: |
          filepath="$HOME/Android/cmdline-tools"
          mkdir -p "$filepath"
          curl -o sdk.zip https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip
          unzip sdk.zip -d "$filepath"
          mv "$filepath/cmdline-tools" "$filepath/latest"

      - name: Add Android SDK to PATH
        run: |
          echo "$HOME/Android/platform-tools" >> $GITHUB_PATH
          echo "$HOME/Android/cmdline-tools/latest/bin" >> $GITHUB_PATH

      - name: Install Android Platform Tools
        run: |
          yes | sdkmanager --sdk_root=$HOME/Android "platform-tools" "platforms;android-33" "build-tools;33.0.2"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: List APK
        run: find app/build/outputs/apk/release -type f -name "*.apk"

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: latest-build
          path: app/build/outputs/apk/release/*.apk