name: create-docs.yml
on:
  pull_request:

jobs:
  create_artifact:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4.0.0
      with:
        fetch-depth: '0'

    - name: Set up JDK 23
      uses: actions/setup-java@v3
      with:
        java-version: '23'
        distribution: 'corretto'
        cache: 'gradle'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Generate Docs
      run: ./gradlew dokkaHtmlMultiModule

    - name: push
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: 'gh-pages'
        folder: build/dokka/html
        target-folder: api