name: run-tests.yml
on:
  pull_request:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v4

      - name: "Install firebase-tools"
        run: npm install -g firebase-tools

      - name: "Initialize Firebase emulators"
        run: firebase init
