name: run-tests.yml
on:
  pull_request:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install firebase-tools
        run: npm install -g firebase-tools

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Initialize android emulator
        run: | 
          chmod +x ./scripts/create-android-emu.sh
          ./scripts/create-android-emu.sh

          
