name: wiki-discord-notifs-workflow.yml



on:
  schedule:
    - cron: '*/5 * * * *'  # every 5 minutes
  workflow_dispatch:       # allows manual triggering from any branch

jobs:
  wiki-notify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Restore Cache of Last Commit
        id: cache
        uses: actions/cache@v3
        with:
          path: .wiki_last_commit
          key: wiki-last-commit

      - name: Clone Wiki Repo
        run: git clone https://github.com/${{ github.repository }}.wiki.git wiki

      - name: Get Latest Wiki Commit
        id: latest
        run: |
          mkdir -p .wiki_last_commit
          cd wiki
          git log -1 --pretty=format:"%H|%an|%s|%f" > ../.wiki_last_commit/latest.txt
          cat ../.wiki_last_commit/latest.txt

      - name: Compare with Previous Commit
        id: compare
        run: |
          PREV_FILE=".wiki_last_commit/latest.txt"
          if [ -f "$PREV_FILE" ]; then
            PREV=$(cat "$PREV_FILE")
          else
            PREV=""
          fi
          CURR=$(cat .wiki_last_commit/latest.txt)
          if [ "$CURR" != "$PREV" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi

      - name: Send Discord Notification
        if: steps.compare.outputs.changed == 'true'
        run: |
          CURR=$(cat .wiki_last_commit/latest.txt)
          COMMIT_HASH=$(echo $CURR | cut -d'|' -f1)
          AUTHOR=$(echo $CURR | cut -d'|' -f2)
          MESSAGE=$(echo $CURR | cut -d'|' -f3)
          PAGE_SLUG=$(echo $CURR | cut -d'|' -f4)
          PAGE_URL="https://github.com/${{ github.repository }}/wiki/${PAGE_SLUG//-/}"
          curl -H "Content-Type: application/json" \
               -X POST \
               -d "{
                     \"username\": \"Wiki Bot\",
                     \"embeds\": [{
                        \"title\": \"Wiki Updated: $MESSAGE\",
                        \"url\": \"$PAGE_URL\",
                        \"description\": \"Edited by $AUTHOR\",
                        \"color\": 5814783
                     }]
                   }" ${{ secrets.DISCORD_WEBHOOK }}

      - name: Save Latest Commit to Cache
        if: steps.compare.outputs.changed == 'true'
        uses: actions/cache@v3
        with:
          path: .wiki_last_commit
          key: wiki-last-commit


